REALM_NAME = "{{ nginxauth_realm }}"
AUTHENTICATOR =  "{{ nginxauth_authentificator }}"
CROWD_URL = "{{ nginxauth_crowd_url }}"
CROWD_APP_NAME = "{{ nginxauth_crowd_name }}"
CROWD_APP_PASSWORD = "{{ nginxauth_crowd_pass }}"
SESSION_SALT = "{{ nginxauth_session_salt }}"
DES_IV = "{{ nginxauth_des_iv }}"
DES_KEY = "{{ nginxauth_des_key }}"